extends template
block content 
  div 
    | Your datas has been successfully changed:
    ul
      each val, key in param
        li.updatedList= key + ': ' + val
    | If it was not you, please write support@gmail.com